amqp==2.3.2
beautifulsoup4==4.6.3
billiard==3.5.0.3
celery==4.2.0
certifi==2018.4.16
chardet==3.0.4
defusedxml==0.5.0
Django>=2.1.5
django-allauth==0.36.0
django-anymail==3.0
django-debug-toolbar==1.11.1
django-environ==0.4.5
dnspython==1.15.0
et-xmlfile==1.0.1
eventlet==0.24.1
greenlet==0.4.15
idna==2.7
instaloader==4.1
jdcal==1.4
kombu==4.2.1
monotonic==1.5
numpy==1.15.2
oauthlib==2.1.0
openpyxl==2.5.8
pandas==0.23.4
python-dateutil==2.7.3
python3-openid==3.1.0
pytz==2018.5
requests==2.20
requests-oauthlib==1.0.0
six==1.11.0
sqlparse==0.2.4
urllib3==1.23
vine==1.1.4
