{% load static %}

<!-- Core JS files -->
<script src="{% static 'assets/js/main/jquery.min.js'%}"></script>
<script src="{% static 'assets/js/main/bootstrap.bundle.min.js' %}"></script>
{#<script src="{% static 'assets/js/plugins/loaders/blockui.min.js' %}"></script>#}
{#<script src="{% static 'assets/jquery/dist/jquery.min.js' %}"></script>#}
<script src="{% static 'assets/js/main/jquery.form.min.js' %}"></script>
<script src="{% static 'assets/PACE/pace.min.js' %}"></script>
<script src="{% static 'assets/toastr/toastr.min.js' %}"></script>

<!-- /core JS files -->

<script src="{% static 'assets/js/app.js' %}"></script>
