{% load static %}


<!-- Global stylesheets -->
<link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
{#<link rel="stylesheet" href="{% static 'assets/bower_components/bootstrap/dist/css/bootstrap.min.css' %}">#}
<link rel="stylesheet" href="{% static 'assets/font-awesome/web-fonts-with-css/css/fontawesome.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/PACE/themes/blue/pace-theme-flat-top.css' %}">
<link rel="stylesheet" href="{% static 'assets/toastr/toastr.min.css' %}">

<link href="{% static 'assets/css/icons/icomoon/styles.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'assets/css/bootstrap_limitless.min.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'assets/css/layout.min.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'assets/css/components.min.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'assets/css/colors.min.css' %}" rel="stylesheet" type="text/css">

<link rel="stylesheet" href="{% static 'css/app.css' %}">
